vendorAnimation(prop, arg)
  -moz-animation-{prop} arg
  -ms-animation-{prop} arg
  -webkit-animation-{prop} arg
  -o-animation-{prop} arg
  animation-{prop} arg

.loading
    height: 96px
    width: 96px

    .letter
        vendorAnimation: name loading
        vendorAnimation: duration 1.6s
        vendorAnimation: iteration-count infinite
        vendorAnimation: direction normal

.letter
    float: left
    font-size: 14px
    color: grey

.l-
  for item in (1..10)
    &{item}
      vendorAnimation delay  0.3s + floor(item/8,2)s

@keyframes loading
    0%
        opacity: 0

    100%
        opacity: 1
