.arrow-next {
  display: inline-block;
  height: 50px;
  width: 50px;
  padding: 3px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.arrow-next:hover {
  cursor: pointer;
}
.arrow-next:active {
  color: #00f;
  border: solid #00f;
  border-width: 0 3px 3px 0;
}
.arrow-prev {
  display: inline-block;
  height: 50px;
  width: 50px;
  padding: 3px;
  border: solid #000;
  border-width: 0 0 3px 3px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.arrow-prev:hover {
  cursor: pointer;
}
.arrow-prev:active {
  color: #00f;
  border: solid #00f;
  border-width: 0 0 3px 3px;
}
