transform(n)
  -moz-transform: n
  -ms-transform: n
  -webkit-transform: n
  -o-transform: n
  transform: n

.arrow
  &-next
    display: inline-block
    height: 50px
    width: 50px
    padding: 3px
    border: solid black
    border-width: 0 3px 3px 0
    transform: rotate(-45deg)

    &:hover
      cursor: pointer

    &:active
      color: blue
      border: solid @color
      border-width: 0 3px 3px 0

  &-prev
    display: inline-block
    height: 50px
    width: 50px
    padding: 3px
    border: solid black
    border-width: 0 0 3px 3px
    transform: rotate(45deg)

    &:hover
      cursor: pointer

    &:active
      color: blue
      border: solid @color
      border-width: 0 0 3px 3px
